<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/exercise"
        android:label="@string/app_name"
        android:roundIcon="@drawable/exercise"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomerciseDemo"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7197676839465129~3228646954"/>

        <activity
            android:name=".EditInfo"
            android:exported="false" />
        <activity
            android:name=".StepsCounter"
            android:exported="false" />
        <activity
            android:name=".PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".BMICalculator"
            android:exported="false" />
        <activity
            android:name=".FavActivity"
            android:exported="false" />
        <activity
            android:name=".InLogin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Base.Theme.HomerciseDemo" />
        <activity
            android:name=".FullBodyKneePushup"
            android:exported="false" />
        <activity
            android:name=".FullBodyBurpees"
            android:exported="false" />
        <activity
            android:name=".LowerBodyJumpingSquats"
            android:exported="false" />
        <activity
            android:name=".LowerBodyDonkeyKick"
            android:exported="false" />
        <activity
            android:name=".LowerBodyBackLunge"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".LowerBodySideLeg"
            android:exported="false" />
        <activity
            android:name=".LowerBodySquats"
            android:exported="false" />
        <activity
            android:name=".UpperBodyInclinePushups"
            android:exported="false" />
        <activity
            android:name=".UpperBodyAbdominal"
            android:exported="false" />
        <activity
            android:name=".FullBodyPushup"
            android:exported="false" />
        <activity
            android:name=".UpperBodyJumping"
            android:exported="false" />
        <activity
            android:name=".FullBody"
            android:exported="false" />
        <activity
            android:name=".LowerBody"
            android:exported="false" />
        <activity
            android:name=".UpperBody"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.HomerciseDemo.NoActionBar" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Exercise"
            android:exported="false"
            android:label="@string/title_activity_exercise" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>